* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE RICORRENTI DI PAGINA */

/* REGOLE HEADER/CTA */

/* REGOLE NAV MENU */

/* REGOLE CENTRAL CONTENT BLOCK */

/* REGOLE PLAYER BAR */
