@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/* REGOLE RICORRENTI DI PAGINA */
.container-flex {
  display: flex;
}

/* REGOLE HEADER/CTA */
main.container-flex .cta-top{
  position: fixed;
  margin-left:200px;
  background-color: rgba(28, 28, 28, 0.8);
  height: 80px;
  width: calc(100vw - 200px);
}

main.container-flex button{
  margin-top: 20px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
  float: right;

}
/* REGOLE NAV MENU */


main .menu {
  width: 200px;
  min-height: calc(100vh - 100px);
  background-color: #191414;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
}

 main .menu > div {
   padding: 6px 0;
 }
main .menu a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
}
main .menu img {
  vertical-align: middle;
  width: 35px;
}

main .menu h2 {
  padding: 5px 0;
}

main .menu #logo img {
  width: 170px;
}

main .menu .side-bar {
  flex: 1 0 auto;
}

main .menu .side-bar > a {
  display: block;
  padding: 5px;
}

main .menu .side-bar > div i {
  padding: 5px;
  background-color: white;
  color:#191414;
}

main .menu .side-bar > div a {
  font-weight: bold;
}

main .menu #profile-signin {

}
main .menu #profile-signin h3 , main .menu #profile-signin h4 {
  display: inline-block;
}
main .menu #profile-signin img {
  width: 20px;
  height: auto;
}

/* REGOLE CENTRAL CONTENT BLOCK */

main{
  justify-content: flex-start;
}

main .central-content {
  width: calc(100vw - 200px);
  margin-left: 200px;
  margin-top: 80px;
  margin-bottom: 100px;
  overflow: scroll;
  background-color: #141922;
  color: white;
  align-self:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .central-content h2 {
  font-size: 35px;
  padding: 10px 5px;
}

main .central-content h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

main .central-content .music-cover h4 {
  font-size: 15px;
}

main .central-content h3 , main .central-content .music-cover h4 {
  text-align: center;
}

main .central-content nav {
    align-self: center;
    padding: 10px;
}

main .central-content nav ul {
  list-style-type: none;
  width: 100%;

}

main .central-content  nav ul li {
  display: inline-block;
  padding: 5px;
}

main .central-content  nav ul li:first-child a{
  font-weight: bold;
}

main .central-content  nav ul li a {
  color:#a3a3a3;
  text-decoration: none;
}



main .central-content  nav ul li .green-bar-active , main .central-content  nav ul li .green-bar {
  text-align: center;
  height: 5px;
  background-color: #1DB954;
  width: 50px;
  margin: auto;
}

main .central-content  nav ul li .green-bar {
  display: none;
}

main .central-content  nav ul li a:hover {
  font-weight: bold;
}

main .central-content  nav ul li a:hover .green-bar {
  display: block;
}

main .central-content .music-cover {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .central-content .music-cover-suggest {
  display: flex;
}

main .central-content .music-cover-suggest .cover-card {
  padding: 20px;
}
main .central-content .music-cover .cover-card  {
  width: calc((100% / 6) - 40px)
}

main .central-content .music-cover .cover-card img {
 width: 100%;
 height: auto;
}

main .central-content #rounded-pics .music-cover-suggest .cover-card img {
  border-radius: 50%;
}


/* REGOLE PLAYER BAR */
.player {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #171b1b;
  color: white;
}

.player img {
  width: 45px;
  height: auto;
}
