
img (6).zip

screens (1).zip

screens/spotify-height-350.png

screens/spotify-lg.png

screens/spotify-md.png

screens/spotify-s.png

screens/spotify-xs.png

screens/versione bonus/spotify-height-350.png

screens/versione bonus/spotify-lg.png

screens/versione bonus/spotify-md.png

screens/versione bonus/spotify-s.png

screens/versione bonus/spotify-xs.png

screens/video/spotify-height.mp4

screens/video/spotify-hover.mp4

screens/video/spotify-responsive.mp4
